{% extends 'proj/base.html.twig' %}

{% block title %}Black Jack{% endblock %}

{% block body %}
    <h1>Welcome to the Black Jack Game!</h1>
    <a href="{{ path('blackjack_home') }}" class="button">Start Playing</a>
{% endblock %}
