{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
<h1>Card</h1>
{% for route in routes %}
<a href="{{ path(route.name, route.params) }}" class="button">{{ route.path }}</a>

{% endfor %}
{% endblock %}