@import 'variables';
@import 'normalize';
@import 'navigation';
@import 'typography';
@import 'button';
@import 'header';
@import 'layout';
@import 'footer';
@import 'flash';
@import 'card';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    // line-height: 1.4;
    // max-width: 900px;
    background-color: #ececec;
}

iframe{
    max-width: 100%;
}

img,
embed,
object,
video {
    max-width: 100%;
    display: block;
    /* height: 100%; */
}

main {
    padding: 0.7rem;
    margin: 0 auto;
    max-width: 800px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

