.flash-notice {
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 8px;
    color: $white;
    background-color: lighten($blue, 20%);
}
.flash-notice:before {
    content: "ⓘ";
}
.flash-warning {
    padding: 0.5em;
    margin: 0.5em 0;
    color: $white;
    background-color: lighten($red, 20%);
}
.flash-warning:before {
    content: "⚠";
}