.row {
    display: flex;
}

.column {
    flex: 50%;
    margin: 0 10px;
}

.column-small {
    flex: 20%;
    margin: 0 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}