.hand {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.player-cards {
    margin: 20px;
    background-color: lighten($blue, 40%);
    border-radius: 8px;
    padding: 10px;
    border: 1px solid lighten($blue, 10%);
}

.player-cards h2 {
    margin-bottom: 18px;
}

.bank-cards {
    margin: 20px;
    background-color: lighten($red, 30%);
    border-radius: 8px;
    padding: 10px;
    border: 1px solid lighten($red, 10%);
}

.bank-cards h2 {
    margin-bottom: 18px;
}

.game-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-status {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}