{% extends "base.html.twig" %}

{% block title %}Om{% endblock %}

{% block body %}
<h1>Om webbplatsen</h1>
<div class="row">
    <div class="column">
        <p>Denna webbplats fungerar som en rapporteringssida för kursen i MVC (Model-View-Controller).</p>
        <p>På denna sida kommer jag att skapa och presentera uppgifter samt skriva rapporter relaterade till de olika
            delarna av
            kursen.</p>
            <img src="{{asset('img/mvc.png')}}" alt="mvc">
    </div>
    <div class="column-small">
        <h3>Länkar</h3>
        <p><a href="https://github.com/dbwebb-se/mvc/tree/main">Länk till kurs repo.</a></p>
        <p><a href="https://github.com/albinr/mvc-report">Länk till denna webbplats repo.</a></p>
    </div>
</div>

{% endblock %}