{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
<h1>Api</h1>
<h2>Routes</h2>
{% for key, route in routes %}
        <a>{{key}}: {{ route }}</a>
{% endfor %}
{% endblock %}