{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Hej!</h1>
<p>Jag heter Albin Ryberg, en 24-åring som är intresserad av webbprogrammering. Jag kommer från Stockholm men bor nu i
    Karlskrona, där jag lär mig mer om hur man programmerar webbsidor.</p>
<p>När jag inte pluggar framför datorn brukar jag spela datorspel eller träna på gymmet. Jag är också ivrig att lära mig
    mer om webbutveckling, speciellt genom denna MVC kurs för att bli bättre på att göra
    webbsidor både smartare och mer effektiva.</p>
<p>Jag ser verkligen fram emot att lära mig mer och utvecklas inom webbutveckling.</p>
<img src="{{ asset('img/me.jpg') }}" alt="bild på mig">

{% endblock %}