{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<h1>Rapport</h1>
<section>
    <h2 id="kmom01">Kmom01</h2>
    <h3>Erfarenhet av objektorientering</h3>
    <p>Erfarenheten jag har av objektorientering kommer från den tidigare OOPython kursen. I kursen fick jag lära mig
        grunderna i att skapa klasser, instansiera objekt och att använda arv för att skapa strukturerad och
        återanvändbar kod. Syntaxen i Python gjorde det enkelt att förstå och lära sig koncepten inom objektorientering
        men i PHP är det annorlunda. Syntaxen kommer ta ett tag att vänja sig och det kommer vara frustrerande men jag
        tror att jag förstår grunden.
    </p>

    <h3>PHPs modell för klasser och objekt</h3>
    <p>Grunderna för att förstå PHPs klasser och objekt är definition av klasser, skapande av objekt, användning av
        public, private och protected för att styra användarens åtkomst av attribut och metoder och konceptet med
        constructors och de-constructors för att initiera och förstöra objekt. Arv är viktigt att veta för att förstå
        att en klass kan ärva egenskaper och metoder från en annan klass. Det kan till exempel vara användbart för att
        återanvända kod och minska upprepning.
    </p>

    <h3>Reflektion över kodbas</h3>
    <p>Jag tycker att kodbasen för uppgiften var svår att förstå till en början. Det var många mappar och filer som jag
        inte riktigt förstod vad de gjorde för att de inte nämns i set up guiden. Jag tror dock att jag förstår de
        viktiga delarna och flödet för mvc med routes och templates.</p>

    <h3>PHP The Right Way</h3>
    <p>Delarna av PHP The Right Way artikeln jag läst och använt är Getting Started, Coding Practices och Errors and
        Exceptions. Artikeln känns som ett bra komplement för en mindre erfaren php utvecklare som mig själv. Jag kommer
        läsa igenom artikeln mer men nu läste jag delarna som jag tyckte var relevanta för kursmomentet.
    </p>

    <h3>Today I Learned</h3>
    <p>Min til för detta kursmoment är hur jag kan börja programmera objektorienterat i php och de första grunderna i
        Symfony med routes. Jag tror jag har byggt en bra grund för att fortsätta bygga på rapportsidan.</p>
</section>
<section>
    <h2 id="kmom02">Kmom02</h2>
</section>
<section>
    <h2 id="kmom03">Kmom03</h2>
</section>
<section>
    <h2 id="kmom04">Kmom04</h2>
</section>
<section>
    <h2 id="kmom05">Kmom05</h2>
</section>
<section>
    <h2 id="kmom06">Kmom06</h2>
</section>
{% endblock %}