{% extends 'base.html.twig' %}

{% block body %}
<h1>Session Data</h1>

{{ include('flash.html.twig') }}

{# Dump all session data #}
{{ dump(sessionData) }}

<form action="{{ path('session_delete') }}" method="post">
    <button type="submit" class="button red-button">Clear Session</button>
</form>
{% endblock %}
