{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
<h1>Api Json Routes</h1>
{% for key, route in routes %}
        <a href="{{ path('quote') }}">{{key}}: {{ route }}</a>
{% endfor %}
{% endblock %}