{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
    <h1>Your lucky number is {{ number }}</h1>
    <iframe src="https://giphy.com/embed/C7RCCFdaixA3u" width="480" height="192" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/batman-black-and-white-C7RCCFdaixA3u">via GIPHY</a></p>
    <iframe src="https://giphy.com/embed/iGGHjzCxell2o" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/batman-okay-gif-iGGHjzCxell2o">via GIPHY</a></p>
{% endblock %}